 cisController.cs
==========================



[HttpGet("getguardianinfo")]
        public ActionResult<MyCustomApiResponse> GetGuardianInfoFromTCustomer([FromQuery]int TempId)//CanvassedBy cdObj
        {
            dbObj = new dbOperation();
            GuardianView Guardiandata=new GuardianView();
            JsonObj = new JsonDatas();
            //List<GeneralInfo1> generaldata = new List<GeneralInfo1>();
            dt = dbObj.GetGuardianDataFromTCustomer(TempId,out msg);
            if (dt.Rows.Count > 0)
            {
              JsonObj.JsonGuardianInfo= dt.Rows[0]["GuardianInfo"].ToString();
              Console.WriteLine (JsonObj.JsonGuardianInfo);
              Guardiandata = JsonConvert.DeserializeObject<GuardianView>(JsonObj.JsonGuardianInfo);
              return new MyCustomApiResponse(TempId,Guardiandata, msg, 200);
            }
            else
            {
                return new MyCustomApiResponse(TempId,Guardiandata, msg, 400);
            }


=====================================================================================================



-GuardianView.cs
============================


 public class GuardianView
    {
        public int RelationshipId { get; set; }
        public int PrefixId { get; set; }
        public string? GuardFirstName { get; set; }
        public string? GuardMiddleName { get; set; }
        public string? GuardLastName { get; set; }
        public DateTime GuardDOB { get; set; }
        public string? GuardGender { get; set; }
        public string? GuardAddress { get; set; }
        public string? GuardPhoneNumber { get; set; } 

    }

=======================================================================================================




dbOperation.cs
================
  public DataTable GetGuardianDataFromTCustomer(int TempId, out string msg)
        {
            msg = string.Empty;
            try
            {
                con = cn.opendb();
                SqlCommand cmd = new SqlCommand("CIS_GetDatasFrom_Tcustomer", con);
                cmd.CommandType = CommandType.StoredProcedure;
                cmd.Parameters.AddWithValue("@TempId", TempId);
                cmd.Parameters.AddWithValue("@InputPage","GuardianInfo");
                SqlDataAdapter da = new SqlDataAdapter(cmd);
                da.Fill(dt);
                msg = "Success";
            }
            catch (Exception ex)
            {
                msg = ex.Message;
            }
            finally
            {
                cn.closedb();
            }

            return dt;
        }
======================================================================================================

postman url :  https://localhost:7024/cis/v1/getguardianinfo?TempID=35



